.footer {
    background-color: ghostwhite;
    border-top: 2px solid orange;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
    &__body {
        padding: 15px 0;
        @include flex;
    }
    &__info {
        padding: 0 10px;
        min-width: 105px;
        &.link {
            a {
                color: grey;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &.year {
            flex-grow: 1;
            text-align: center;
        }
        &.code {
            text-align: right;
            a {
                font-family: monospace;
                color: blue;
                font-size: 12px;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}