.header {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), 
        linear-gradient(to top, rgba(255,255,255,0.40) 0%, 
        rgba(138, 137, 137, 0.25) 200%);
    background-blend-mode: multiply;
    color: white;
    &__body {
        padding: 20px 0;
        @include flex;
    }
    &__title {
        padding: 0 10px;
        font-weight: bold;
        font-size: 2.5rem;
        a {
            @include flex;
            color: inherit;
            &::before {
                content: '';
                display: block;
                width: 50px;
                height: 50px;
                margin-right: 10px;
                background-image: url('../images/logo.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}