@mixin font($fontName, $fileName, $weight, $style) {
    @font-face {
        font-family: $fontName;
        font-display: swap;
        src: url("../fonts/#{$fileName}.woff") format("woff"),
            url("../fonts/#{$fileName}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "_fonts";

@mixin transition {
    transition: all 0.3s ease-in-out;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

$maxWidth: 1200px;

@import "_nullstyle";

@import "_header";

.main {
    flex: 1 1 auto;
    padding: 10px 0;
    &__body {
        background-color: coral;
        // background-image: url('../images/dot.gif');
        background-image: url('../images/polka-dots.jpg');
    }
}

@import "_footer";